[submodule "git/ensime-emacs"]
	path = git/ensime-emacs
	url = https://github.com/ensime/ensime-emacs
	branch = 2.0
[submodule "git/flow-for-emacs"]
	path = git/flow-for-emacs
	url = https://github.com/flowtype/flow-for-emacs
[submodule "git/lsp-scala"]
	path = git/lsp-scala
	url = https://github.com/rossabaker/lsp-scala.git
